#social_medias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    padding-block: 1rem;
}

#social_medias p{
    font-family: var(--text-button);
    font-weight: 500;
}

#social_medias ul{
    list-style: none;
    display: flex;
}

#social_medias ul li a .fa-linkedin{
    text-decoration: none;
    color: var(--bg-btn);
    font-size: 2rem;
    cursor: pointer;
}

#social_medias ul li a .fa-github{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
}

