@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{

    --bg-deepblue: #252b42;
    --bg-deepblue2: #3f486d;
    --bg-btn: #525d8d;
    --bg-content: #d9dff1;
    --text: #ddd8d8;
    --text-content-tittle: "Fredoka", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container{
    max-width: 1280px;
    min-height: 100vh;
    margin: auto;
    background: linear-gradient(to bottom,var(--bg-deepblue), var(--bg-deepblue2) );
}