#content{
    background-color: var(--bg-content);
    max-width: 410px;
    min-height: 400px;
    margin: auto;
    margin-block: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

#box_tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    font-family: var(--text-content-tittle);

}

#tittle{
    text-align: center;
    
    font-weight: 400;
}

#reference{
    font-weight: 500;
}

#text_content{
    
    font-family: var(--text-content-tittle);
    font-size: larger;
}

@media (min-width: 768px) {

    #content{
        min-width: 650px;

    }
}
